.container-geral-register {
    margin-top: 95px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

.container-geral-register .oi {
    width: 100%;
    background-color: rgb(32, 86, 86);
    display: flex;
}

.container_1 {
    background-color: rgb(77, 77, 139);
    width: fit-content;
}

.container_2 {
    background-color: blue;
    width: fit-content;
}
